/************************* Formulario *************************/
#content_form {
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 1em 0;
  text-align: left;
}

/*Etiquetas*/
label {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0.5em 0;
  color: white;
}

/*Inputs*/
#content_form > form > .content_input {
  margin: 0.7em 0;
}

.register {
  width: 100%;
  padding: 0.7em 1em;
  border: none;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 5px;
  font-size: 0.9em;
}

/*Submit*/
#send {
  width: 190px;
  padding: 0.7em 0.3em;
  margin: 1.5em auto 0 auto;
  background-image: linear-gradient(60deg, #6c5b7b 0%, #c06c84 80%);
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 50px;
  cursor: pointer;
}

#send:hover {
  animation: effectHover 800ms forwards;
}

@keyframes effectHover {
  0% {
    background-image: linear-gradient(60deg, #6c5b7b 0%, #c06c84 80%);
  }
  25% {
    background-image: linear-gradient(60deg, #6c5b7b 0%, #c06c84 40%);
  }
  35% {
    background-image: linear-gradient(60deg, #6c5b7b 0%, #c06c84 20%);
  }
  50% {
    background-image: linear-gradient(60deg, #6c5b7b 0%, #c06c84 0%);
  }
  60% {
    background-image: linear-gradient(60deg, #c06c84 0%, #6c5b7b 100%);
  }
  75% {
    background-image: linear-gradient(60deg, #c06c84 0%, #6c5b7b 95%);
  }
  100% {
    background-image: linear-gradient(60deg, #c06c84 0%, #6c5b7b 80%);
  }
}

/*Errors*/
.errors {
  margin-top: 0.8em;
  font-size: 0.9em;
  color: #f72b5e;
}

/************************* Message *************************/
.content_modal {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  font-size: 12px;
  background-color: #fffffff5;
  width: 400px;
  border-radius: 10px;
}
.modal > .header {
  width: 100%;
  font-size: 50px;
  text-align: center;
  padding: 0.5em 0;
}
.modal > .content {
  width: 100%;
  padding: 0.5em 0 1em 0;
  color: white;
}
.modal > .content .title_modal {
  font-size: 2.5em;
  letter-spacing: 1px;
  color: black;
  text-align: center;
}
.modal > .content .ctnt_modal {
  font-size: 1.3em;
  color: black;
  text-align: center;
}
.modal > .actions {
  width: 100%;
  padding: 1.1em 0;
  margin: auto;
  text-align: center;
}

.modal > .actions button{
  padding: 0.6em 0;
  border: none;
  background: #c06c84;
  width: 100px;
  border-radius: 50px;
  color: #473f4e;
  color: white;
  cursor: pointer;
}

.modal > .actions button:hover, .modal > .actions button:active {
  background: #834959;
} 

/*Responsive*/
@media only screen and (max-width: 768px) {
  /*Inputs*/
  .register {
    width: 90%;
    padding: 1em 0.9em;
  }
  /*Message*/
  .modal {
    width: 320px;
  }
  
}

